<!--script src="https://cdn.jsdelivr.net/hls.js/latest/hls.min.js"></script-->

<style>

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}
div {
    position: relative;
    height: 100vh;
}
div:before {
    position: absolute;
    content:"";
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: purple;
}
video {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
}

</style>

<script src="hls.js"></script>
<div><video id="video"></video></div>
<script>
    if(Hls.isSupported()) {
        var video = document.getElementById('video');

        var videoWidth = document.getElementById('video').offsetWidth;
        var videoHeight = document.getElementById('video').offsetHeight;

        // console.log( videoWidth + ", " + videoHeight);

        var hls = new Hls();
        hls.loadSource('http://89.17.50.54:5555/hls/d955d6eb-7a70-4f2e-b003-94f022bf780a');
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED,function() {
          video.play();
        });



//"rects":[{"h":49,"timestamp":11724000,"w":49,"x":711,"y":183}]
//"rects":[{"h":93,"timestamp":14408000,"w":93,"x":605,"y":307}]
//"rects":[{"h":93,"timestamp":14460000,"w":93,"x":605,"y":307}]
//"rects":[{"h":122,"timestamp":14864000,"w":122,"x":631,"y":367}]
//"rects":[{"h":124,"timestamp":14916000,"w":124,"x":648,"y":376}]
//"rects":[{"h":124,"timestamp":14964000,"w":124,"x":648,"y":376}
// {"h":127,"timestamp":15016000,"w":127,"x":649,"y":377}
//"rects":[{"h":133,"timestamp":15068000,"w":133,"x":648,"y":377}
//{"h":135,"timestamp":15116000,"w":135,"x":646,"y":381}

//"rects":[{"h":185,"timestamp":15420000,"w":185,"x":584,"y":494}],},
//"rects":[{"h":185,"timestamp":15472000,"w":185,"x":584,"y":494},
//{"h":183,"timestamp":15524000,"w":183,"x":585,"y":511},

//"rects":[{"h":177,"timestamp":15572000,"w":177,"x":583,"y":528},

//{"h":216,"timestamp":15624000,"w":216,"x":567,"y":530},
//"rects":[{"h":219,"timestamp":15676000,"w":219,"x":588,"y":545},
//{"h":219,"timestamp":15724000,"w":219,"x":588,"y":545},
//{"h":231,"timestamp":15776000,"w":231,"x":596,"y":552}]

        function Rect(x, y, w, h) {
          this.x= x/1;
          this.y= y/1;
          this.w= w/1;
          this.h= h/1;
          return this;
        }

        var rectData = {};

        rectData[11724] = new Rect(711,183,49,49);
        rectData[14408] = new Rect(605,307,93,93);
        rectData[14460] = new Rect(605,307,93,93);
        rectData[14864] = new Rect(631,367,122,122);
        rectData[14916] = new Rect(648,376,124,124);
        rectData[14964] = new Rect(648,376,124,124);
        rectData[15016] = new Rect(649,377,127,127);
        rectData[15068] = new Rect(648,377,133,133);
        rectData[15116] = new Rect(646,381,135,135);
        rectData[15420] = new Rect(584,494,185,185);
        rectData[15472] = new Rect(584,494,185,185);
        rectData[15524] = new Rect(585,511,183,183);
        rectData[15572] = new Rect(583,528,177,177);
        rectData[15624] = new Rect(567,530,216,216);
        rectData[15676] = new Rect(588,545,219,219);
        rectData[15724] = new Rect(588,545,219,219);
        rectData[15776] = new Rect(596,552,231,231);

        function Nearest (num, arr) {
                var curr = arr[0];
                var diff = Math.abs (num - curr);
                for (var val = 0; val < arr.length; val++) {
                    var newdiff = Math.abs (num - arr[val]);
                    if (newdiff < diff) {
                        diff = newdiff;
                        curr = arr[val];
                    }
                }
                return curr;
            }

        function FindNearestRect(videoTime, duration) {
            let nearestTimestamp = Nearest(videoTime, Object.keys(rectData));
            var result = null;
            if(Math.abs(nearestTimestamp - videoTime) <= duration) {
              result = rectData[nearestTimestamp];
              //delete rectData[nearestTimestamp];
            }

            return result;
        }

        var initPTS = 0;

        hls.on(Hls.Events.INIT_PTS_FOUND, function(event, data) {
            //console.log("InitPTS = ", data.initPTS);
            initPTS = data.initPTS;
        });

        hls.on(Hls.Events.FRAME_RAW_DURATION, function(event, data) {
          //console.log("Duration = ", data.duration);

          let frameDuration= data.duration/90000.0;
          let skipFrames = initPTS/data.duration;
          let skipTime = frameDuration*skipFrames;

          lastTime = -1;

          console.log("skipTime = ", skipTime);

          function draw() {
            var time = video.currentTime;
            if (time !== lastTime) {

              lastTime = time;

              time += skipTime;

              // console.log("time = ", time);


              // let x = time/data.duration;
              // let y = 0;
              // let w = 40;
              // let h = 40;

              // var rect = FindNearestRect(time, data.duration/2);

              // if(rect != null) {

                // document.styleSheets[0].addRule('div:before','width: ' + Math.round(w) + 'px;');
                // document.styleSheets[0].addRule('div:before','height: ' + Math.round(h) + 'px;');
                // document.styleSheets[0].addRule('div:before','left: ' + Math.round(x) + 'px;');
                // document.styleSheets[0].addRule('div:before','top: ' + Math.round(y) + 'px;');
                // document.styleSheets[0].addRule('div:before','display:inline;');

              //   // console.log('time: ' + time + ' :: x:' + rect.x + ', y:' + rect.y + ', w:' + rect.w + ', h:' + rect.h);
              // }
              // else {
              //   document.styleSheets[0].addRule('div:before','display:none;');
              //   // document.styleSheets[0].addRule('div:before','background-color:purple;');
              // }
            }

            //wait approximately 16ms and run again
            requestAnimationFrame(draw);
          }

          draw();
        });
    }
</script>
